<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th width="15%">手机号</th>
			<th width="20%">证件号吗</th>
			<th width="15%">姓名</th>
			<th width="50%">备注内容</th>
		</tr>
	</thead>
	<tbody>
		{{#each this}}
			<tr>
				<td>{{contact}}</td>
				<td>{{cardNo}}</td>
				<td>{{name}}</td>
				<td><span class="remark-tip" title="{{remark}}">{{remark}}</span></td>
			</tr>
		{{/each}}
	</tbody>
</table>