<thead>
<tr>
    <td>计费项目</td>
    <td>现金收入</td>
    <td>非现金收入</td>
    <td>现金支出</td>
    <td>非现金支出</td>
    <td></td>
</tr>
</thead>
<tbody>
<tr>
    <td>房费</td>
    <td>{{roomFeeInComeCash}}</td>
    <td>{{roomFeeInCome}}</td>
    <td>{{roomFeePayOutCash}}</td>
    <td>{{roomFeePayOut}}</td>
    <td></td>
</tr>
<tr>
    <td>押金</td>
    <td>{{payMentInComeCash}}</td>
    <td>{{payMentInCome}}</td>
    <td>{{payMentPayOutCash}}</td>
    <td>{{payMentPayOut}}</td>
    <td></td>
</tr>
<tr>
    <td>商品</td>
    <td>{{goodsInComeCash}}</td>
    <td>{{goodsInCome}}</td>
    <td>{{goodsPayOutCash}}</td>
    <td>{{goodsPayOut}}</td>
    <td></td>
</tr>

<tr>
    <td>账本</td>
    <td>{{accountBookInComeCash}}</td>
    <td>{{accountBookInCome}}</td>
    <td>{{accountBookPayOutCash}}</td>
    <td>{{accountBookPayOut}}</td>
    <td></td>
</tr>
</tbody>
<thead>
<tr>
    <td>合计</td>
    <td>{{totalInComCash}}</td>
    <td>{{totalInCome}}</td>
    <td>{{totalPayOutCash}}</td>
    <td>{{totalPayOut}}</td>
    <td>（<a target="_blank"
            href="/public/views/1/finance.html?tab=dayIncome&from={{from}}&to={{to}}">查看明细</a>）
    </td>
</tr>
</thead>